@media (max-width: 375px){
    /*----inicio-main----*/
    .main-inicio{
        height: auto;
        overflow: hidden;
        grid-template: repeat(2,275px)/repeat(1,375px);
        grid-template-areas: "imagen1" "imagen2";
    }

    /*----sesion-main----*/
    .main-sesion{
        section{
            div{
                .form-sesion{
                    fieldset{
                        margin-left: 15px;
                    }.boton{
                        margin-left: 60px;
                    }
                }
            }
        }
    }
}